{% extends "customers/layouts/base.html" %}
{% load crispy_forms_tags %}

{% block form_content %}
<form method="post" id="customer-form" class="space-y-6">
    {% csrf_token %}
    {{ form|crispy }}
    {{ form.media }}
    
    <div class="flex justify-between pt-4 border-t">
        <a href="{% url 'partners:customer_list' %}">
            <c-button variant="outline" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l14 0" />
                    <path d="M5 12l6 6" />
                    <path d="M5 12l6 -6" />
                </svg>
                Voltar
            </c-button>
        </a>
        <c-button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M14 4l0 4l-6 0l0 -4" />
            </svg>
            Salvar e Continuar
        </c-button>
    </div>
</form>
{% endblock form_content %}

{% block extrajs %}
<script>
    function togglePersonType() {
        let personType = $('#id_person_type').val();
        if (personType === 'PJ') {
            $('#id_cnpj').closest('.mb-3').show();
            $('#id_trading_name').closest('.mb-3').show();
            $('#id_cpf').closest('.mb-3').hide();
        } else if (personType === 'PF') {
            $('#id_cnpj').closest('.mb-3').hide();
            $('#id_trading_name').closest('.mb-3').hide();
            $('#id_cpf').closest('.mb-3').show();
        }
    }

    togglePersonType();

    $('#id_person_type').change(function() {
        togglePersonType();
    });

    $('#id_cpf').mask('000.000.000-00');
    $('#id_cnpj').mask('00.000.000/0000-00');
    $('#id_cellphone').mask('(00) 00000-0000');
</script>
{% endblock extrajs %}
