<!doctype html>
{% load static %}

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    {% block extrastyle %}{% endblock extrastyle %}
  </head>
  <body class="min-h-screen bg-background font-sans antialiased {% block body %}{% endblock body %}">
    <div class="min-h-screen flex flex-col">
      {% block content %}{% endblock content %}
    </div>
    
    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>
