{% load static  %}

<ul class="navbar-nav pt-lg-3">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:home' %}" >
        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
        </span>
        <span class="nav-link-title">
            Dashboard
        </span>
        </a>
    </li>

    <li class="nav-item dropdown{% if request.resolver_match.url_name == 'user_list' %} show{% endif %}">
        <a class="nav-link dropdown-toggle{% if request.resolver_match.url_name == 'user_list' %} active{% endif %}" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="{% if request.resolver_match.url_name == 'user_list' %}true{% else %}false{% endif %}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <!-- icon de plus -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-copy-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M7 9.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
                    <path d="M4.012 16.737a2 2 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
                    <path d="M11 14h6" />
                    <path d="M14 11v6" />
                </svg>
            </span>
            <span class="nav-link-title">
                Cadastros
            </span>
        </a>
        <div class="dropdown-menu{% if request.resolver_match.url_name == 'user_list' %} show{% endif %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    <a class="dropdown-item {% if request.resolver_match.url_name == 'company_update' %} active {% endif %}" href="{% url 'dashboard:company_update' pk=request.user.company_active.pk %}">
                        Empresa   
                    </a>
                    <a class="dropdown-item {% if request.resolver_match.url_name == 'user_list' %} active {% endif %}" href="{% url 'dashboard:user_list' %}">
                        Usuarios
                    </a>
                    {% comment %} 
                    <div class="dropend">
                        <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                            Exemplo
                        </a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item"> Exemplo </a>
                        </div>
                    </div> 
                    {% endcomment %}
                </div>
            </div>
        </div>
    </li>
</ul>