{% load static %}

{% block sidebar %}

  <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand navbar-brand-autodark" style="padding: 0 !important;">
        <a href="/">
          <img src="{% static 'images/logo.png' %}" alt="Gestão Fiscal" class="navbar-brand-image" style="max-width: 200px; height: 90px;">
        </a>
      </h1>
      <div class="collapse navbar-collapse" id="sidebar-menu">
        {% include 'administration/includes/menu-list.html' %}
      </div>
    </div>
  </aside>

{% endblock sidebar %}