{% extends "suppliers/layouts/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Criar Fornecedor - Gestão Fiscal{% endblock title %}

{% block titlebody %}
<div class="container-xl mt-3">
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">Fornecedores</h2>
        </div>
    </div>
</div>
{% endblock titlebody %}

{% block card_content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
</form>
{% endblock card_content %}

{% block extrajs %}
<script>

    /* Função para ocultar ou mostrar campos com base no tipo de pessoa
    */
    function togglePersonType() {
        {% if object and object.person_type %}
            let personType = '{{ object.person_type }}';
        {% endif %}
        
        if (personType === 'PJ') {
            $('#id_tax_regime').closest('.mb-3').show();
            $('#id_tax_payer_type').closest('.mb-3').show();
            $('#id_state_registration').closest('.mb-3').show();
            $('#id_municipal_registration').closest('.mb-3').show();
        } else if (personType === 'PF') {
            $('#id_tax_regime').closest('.mb-3').hide();
            $('#id_tax_payer_type').closest('.mb-3').hide();
            $('#id_municipal_registration').closest('.mb-3').hide();
            $('#id_state_registration').closest('.mb-3').hide();
        }
    }

    togglePersonType();

    $('#id_credit_limit').mask('999.999.999.999.999,99', {reverse: true});
    $('#id_state_registration').mask('999.999.999.999');
    $('#id_municipal_registration').mask('99999999999999999999');

</script>
{% endblock extrajs %}