{% extends 'account/layouts/base.html' %}
{% load static %}

{% block title %}Recuperar Senha - Gestão Fiscal{% endblock title %}

{% block body %}d-flex flex-column{% endblock body %}

{% block content %}
  <div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center">
        <a href="/" class="navbar-brand navbar-brand-autodark">
          <img src="{% static 'images/logo.png' %}" alt="logo" style="max-width: 180px; height: auto;">
        </a>
      </div>
      {% include "account/forms/forgot_password.html" %}
      <div class="text-center text-muted mt-3">
        Lembrou sua senha? <a href="{% url 'account_login' %}" tabindex="-1">Voltar ao login</a>
      </div>
    </div>
  </div>
{% endblock content %}