{% extends 'account/layouts/base.html' %}
{% load static %}

{% block title %}Settings - {% endblock title %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Configurações de Conta
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="card">
          <div class="row g-0">
            <div class="col-3 d-none d-md-block border-end">
              <div class="card-body">
                <div class="list-group list-group-transparent">
                  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center active">Minha Conta</a>
                </div>
              </div>
            </div>
            <div class="col d-flex flex-column">
              <div class="card-body">
                <h2 class="mb-4">Minha Conta</h2>
                <h3 class="card-title">Detalhes do Perfil</h3>
                <div class="row align-items-center">
                  <div class="col-auto"><span class="avatar avatar-xl" style="background-image: url({% static 'static/avatars/000m.jpg' %})"></span>
                  </div>
                  <div class="col-auto"><a href="#" class="btn">
                      Alterar avatar
                    </a></div>
                  <div class="col-auto"><a href="#" class="btn btn-ghost-danger">
                      Deletar avatar
                    </a></div>
                </div>
                <h3 class="card-title mt-4">Perfil Empresarial</h3>
                <div class="row g-3">
                  <div class="col-md">
                    <div class="form-label">Nome da Empresa</div>
                    <input type="text" class="form-control" value="Tabler">
                  </div>
                  <div class="col-md">
                    <div class="form-label">ID da Empresa</div>
                    <input type="text" class="form-control" value="560afc32">
                  </div>
                  <div class="col-md">
                    <div class="form-label">Localização</div>
                    <input type="text" class="form-control" value="Peimei, China">
                  </div>
                </div>
                <h3 class="card-title mt-4">Email</h3>
                <p class="card-subtitle">Este contato será mostrado publicamente para outros, então escolha com cuidado.</p>
                <div>
                  <div class="row g-2">
                    <div class="col-auto">
                      <input type="text" class="form-control w-auto" value="paweluna@howstuffworks.com">
                    </div>
                    <div class="col-auto"><a href="#" class="btn">
                        Alterar
                      </a></div>
                  </div>
                </div>
                <h3 class="card-title mt-4">Senha</h3>
                <p class="card-subtitle">Você pode definir uma senha permanente se não quiser usar códigos de login temporários.</p>
                <div>
                  <a href="#" class="btn">
                    Definir nova senha
                  </a>
                </div>
                <h3 class="card-title mt-4">Perfil Público</h3>
                <p class="card-subtitle">Tornar seu perfil público significa que qualquer pessoa na rede Dashkit poderá encontrá-lo.</p>
                <div>
                  <label class="form-check form-switch form-switch-lg">
                    <input class="form-check-input" type="checkbox" >
                    <span class="form-check-label form-check-label-on">Você está atualmente visível</span>
                    <span class="form-check-label form-check-label-off">Você está atualmente invisível</span>
                  </label>
                </div>
              </div>
              <div class="card-footer bg-transparent mt-auto">
                <div class="btn-list justify-content-end">
                  <a href="#" class="btn">
                    Cancelar
                  </a>
                  <a href="#" class="btn btn-primary">
                    Salvar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'account/includes/footer.html' %}
  </div>
  
{% endblock content %}
