<form class="card card-md" action="{% url 'account_reset_password' %}" method="post" autocomplete="off" novalidate>
	{% csrf_token %}
	<div class="card-body">
		<h2 class="h2 text-center mb-4">Esqueci minha senha</h2>

		<p class="text-secondary mb-4">Digite seu endereço de e-mail e enviaremos instruções para redefinir sua senha.</p>

		{% for field in form %}
			<div class="mb-3">
				<label class="form-label">{{ field.label }}</label>
				<input type="email" class="form-control" placeholder="Digite seu e-mail" name="{{ field.name }}" autocomplete="username">
				{% if field.errors %}
					<div class="invalid-feedback d-block">
						{{ field.errors.0 }}
					</div>
				{% endif %}
				{% if field.name == 'email' %}
					<div class="form-hint">
						Insira o e-mail associado à sua conta
					</div>
				{% endif %}
			</div>
		{% endfor %}

		<div class="form-footer">
			<button type="submit" class="btn btn-primary w-100">
				<i class="ti ti-mail me-2"></i>
				Envie-me uma nova senha
			</button>
		</div>
	</div>
</form>

<div class="text-center text-secondary mt-3">
	Lembrou sua senha? <a href="{% url 'account_login' %}" tabindex="-1">Voltar ao login</a>
</div>