{% load crispy_forms_tags %}
<form class="card card-md" action="{% url 'account_signup' %}" method="post" autocomplete="off" novalidate>
	{% csrf_token %}
	<div class="card-body">
		<h2 class="card-title text-center mb-4">Criar nova conta</h2>
		{{ form|crispy }}
        <div class="form-footer">
			<button type="submit" class="btn btn-primary w-100">Criar nova conta</button>
		</div>
	</div>
</form>

<div class="text-center text-secondary mt-3">
	Já tem conta? <a href="{% url 'account_login' %}" tabindex="-1">Faça login</a>
</div>