<div class="card-body">
	<h2 class="h2 text-center mb-4">Faça login na sua conta</h2>
	{% include "account/forms/sign_in.html" %}
</div>
<div class="hr-text">ou</div>
<div class="card-body">
	<div class="row">
		<div class="col">
			<a href="#" class="btn w-100">
				<i class="ti ti-brand-google me-2" style="font-size: 1.2rem;"></i>
				Google
			</a>
		</div>
		<div class="col">
			<a href="#" class="btn w-100">
				<i class="ti ti-brand-facebook text-facebook me-2" style="font-size: 1.2rem;"></i>
				Facebook
			</a>
		</div>
	</div>
</div>
