<!-- Modal de Confirmação de Reativação -->
<div class="modal-content">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <div class="modal-status bg-success"></div>
    <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler.io/icons/icon/circle-check -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon mb-2 text-success icon-lg">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9 12l2 2l4 -4"></path>
        </svg>
        <h3>Reativar Usuário</h3>
        <div class="text-secondary">Você realmente deseja reativar o usuário <strong>{{ membership.user.first_name }} {{ membership.user.last_name }}</strong>?</div>
    </div>
    <div class="modal-footer">
        <div class="w-100">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-3 w-100" data-bs-dismiss="modal"> Cancelar </button>
                </div>
                <div class="col">
                    <form 
                        hx-post="{% url 'configuration:user_reactivate' membership.pk %}" 
                        hx-target="#users-table" 
                        hx-swap="outerHTML"
                        hx-trigger="submit"
                    >
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-4 w-100" data-bs-dismiss="modal">Reativar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>