{% load static  %}

<!DOCTYPE html>
<html lang="pt-br" class="antialiased">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    {% block extrastyle %}{% endblock extrastyle %}
    {% include 'administration/includes/head.html' %}
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body class="bg-background text-foreground min-h-screen {% block body %}{% endblock body %}">
    <div class="flex min-h-screen w-full">
      <!-- Sidebar -->
      {% block sidebar %}
        {% include 'administration/includes/sidebar_tailwind.html' %}
      {% endblock sidebar %}
      
      <div class="flex-1 flex flex-col">
        <!-- Navbar -->
        {% block navigation %}
          {% include 'administration/includes/navigation_tailwind.html' %}
        {% endblock navigation %}
        
        <main class="flex-1 overflow-auto">
          <!-- Page header -->
          {% block titlebody %}{% endblock %}
          <!-- Page body -->
          {% block content %}{% endblock content %}
        </main>
        
        {% include 'administration/includes/footer_tailwind.html' %}
      </div>
    </div>
    <!-- Modals -->
    {% block modal %}{% endblock modal %}
    <!-- Scripts -->
    {% block scripts %}
        {% include 'administration/includes/scripts.html' %}
    {% endblock scripts %}
    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>