{% load static  %}

<html lang="pt-br">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    {% block extrastyle %}{% endblock extrastyle %}
    {% include 'administration/includes/head.html' %}
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body class="{% block body %}{% endblock body %}">
    <script src="{% static 'dist/js/demo-theme.min.js' %}?1684106062"></script>
    <div class="page">
      <!-- Navbar -->
      {% block navigation %}
        {% include 'administration/includes/navigation.html' %}
      {% endblock navigation %}
      <!-- Sidebar -->
      {% block sidebar %}
        {% include 'administration/includes/sidebar.html' %}
      {% endblock sidebar %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="container-xl mt-3">
          <div class="row g-2 align-items-center">
            <div class="col">
              <h2 class="page-title">
                {% block titlebody %}{% endblock %}
              </h2>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </div>
    <!-- Modals -->
    {% block modal %}{% endblock modal %}
    <!-- Tabler Core -->
    {% block scripts %}
        {% include 'administration/includes/scripts.html' %}
    {% endblock scripts %}
    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>