<table class="table table-vcenter table-mobile-md card-table">
    <thead>
        <tr>
            <th>Nome/Razão Social</th>
            <th>CPF/CNPJ</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Celular</th>
            <th class="w-1"></th>
        </tr>
    </thead>
    <tbody>
        {% for customer in object_list %}
            <tr class="customer-row {% if customer.is_active %}active-customer{% else %}inactive-customer{% endif %}">
                <td data-label="Nome/Razão Social">
                    <div class="d-flex py-1 align-items-center">
                        <span class="avatar avatar-sm me-2 avatar-rounded">
                            {{ customer.name|first|upper }}
                        </span>
                        <div class="flex-fill">
                            <div class="font-medium">
                                {{ customer.name|default:"" }}
                            </div>
                        </div>
                    </div>
                </td>
                <td data-label="CPF/CNPJ">
                    <div class="text-muted">{{ customer.cpf_cnpj|default:"" }}</div>
                </td>
                <td data-label="Email">
                    <div class="text-muted">{{ customer.email|default:"" }}</div>
                </td>
                <td data-label="Telefone">
                    <div class="text-muted">{{ customer.phone|default:"" }}</div>
                </td>
                <td data-label="Celular">
                    <div class="text-muted">{{ customer.mobile|default:"" }}</div>
                </td>
                <td>
                    <div class="btn-list flex-nowrap">
                        <a href="{% url 'partners:customer_update' pk=customer.id %}" class="btn btn-ghost-primary btn-icon" data-bs-toggle="tooltip" title="Editar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                            </svg>
                        </a>
                        {% comment %} 
                        <div class="dropdown">
                            <button class="btn btn-ghost-secondary btn-icon" data-bs-toggle="dropdown" aria-label="Ações" title="Ações">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                    <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                    <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                                {% if customer.is_active %}
                                    <button class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ customer.pk }}">
                                        Desativar
                                    </button>
                                {% else %}
                                    <button class="dropdown-item text-success" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ customer.pk }}">
                                        Reativar
                                    </button>
                                {% endif %}
                            </div>
                        </div> 
                        {% endcomment %}
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6" class="text-center">Nenhum cliente encontrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>