{% extends "customers/layouts/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Criar Cliente - Gestão Fiscal{% endblock title %}

{% block titlebody %}
<div class="container-xl mt-3">
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">Clientes</h2>
        </div>
    </div>
</div>
{% endblock titlebody %}

{% block card_content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {{form.media}}
    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
</form>
{% endblock card_content %}

{% block extrajs %}
<script>

    /* Função para ocultar ou mostrar campos com base no tipo de pessoa
    */

    function togglePersonType() {
        let personType = $('#id_person_type').val();
        if (personType === 'PJ') {
            $('#id_cnpj').closest('.mb-3').show();
            $('#id_state_registration').closest('.mb-3').show();
            $('#id_tax_payer_type').closest('.mb-3').show();
            $('#id_tax_regime').closest('.mb-3').show();
            $('#id_municipal_registration').closest('.mb-3').show();
            $('#id_is_exempt').closest('.mb-3').show();
            $('#id_trading_name').closest('.mb-3').show();
            $('#id_cpf').closest('.mb-3').hide();
        } else if (personType === 'PF') {
            $('#id_municipal_registration').closest('.mb-3').hide();
            $('#id_tax_payer_type').closest('.mb-3').hide();
            $('#id_tax_regime').closest('.mb-3').hide();
            $('#id_cnpj').closest('.mb-3').hide();
            $('#id_is_exempt').closest('.mb-3').hide();
            $('#id_state_registration').closest('.mb-3').hide();
            $('#id_trading_name').closest('.mb-3').hide();
            $('#id_cpf').closest('.mb-3').show();
        }
    }

    togglePersonType();

    $('#id_person_type').change(function() {
        togglePersonType();
    });

    $('#id_cpf').mask('000.000.000-00');
    $('#id_cnpj').mask('00.000.000/0000-00');
    $('#id_cellphone').mask('(00) 00000-0000');
    $('#id_credit_limit').mask('999.999.999.999.999,99', {reverse: true});

</script>
{% endblock extrajs %}