{% extends "customers/layouts/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Criar Cliente - Gestão Fiscal{% endblock title %}

{% block titlebody %}
<div class="container-xl mt-3">
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">Clientes</h2>
        </div>
    </div>
</div>
{% endblock titlebody %}

{% block card_content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
</form>
{% endblock card_content %}