{% if type == "submit" or type == "button" %}
    <button type="{{ type|default:'button' }}"
        class="btn fw-bold{% if color %} btn-{{ color }}{% endif %}{% if block %} w-100{% endif %}{% if class %} {{ class }}{% endif %}"
        {% if name %}name="{{ name }}"{% endif %}
        {% if value %}value="{{ value }}"{% endif %}
        {% if disabled %}disabled{% endif %}
    >
        {% if icon %}
            <i class="ti ti-{{ icon }} me-2" style="font-size: 1.2rem;"></i>
        {% endif %}
        {{ text|default:"Button" }}
    </button>
{% else %}
    <a href="{% if href %}{{ href }}{% else %}#{% endif %}"
        class="btn fw-bold{% if color %} btn-{{ color }}{% endif %}{% if block %} w-100{% endif %}{% if class %} {{ class }}{% endif %}"
    >
        {% if icon %}
            <i class="ti ti-{{ icon }} me-2" style="font-size: 1.2rem;"></i>
        {% endif %}
        {{ text|default:"Button" }}
    </a>
{% endif %}