{% load crispy_forms_tags %}

<form class="card card-md" method="post">
    <div class="card-body">
        <h2 class="card-title text-center mb-4">Criar Empresa</h2>
        {% csrf_token %}
        {{ form|crispy }}
        {{form.media}}
        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                    <path d="M3 7l9 6l9 -6"></path>
                </svg>
                Criar Empresa
            </button>
        </div>
    </div>
</form>