{% extends "account/layouts/base_profile.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Perfil - Gestão Fiscal{% endblock title %}

{% block card %}

<form method="post" class="col d-flex flex-column">
    {% csrf_token %}
    <div class="card-body">
        <h2 class="mb-4">Minha Conta</h2>
        <h3 class="card-title">Detalhes do Perfil</h3>
        <div class="row align-items-center">
            <div class="col-auto">
                <span class="avatar avatar-xl" style="background-image: url({% static 'static/avatars/000m.jpg' %})"></span>
            </div>
            <div class="col-auto">
                <a href="#" class="btn">Alterar avatar</a>
            </div>
            <div class="col-auto">
                <a href="#" class="btn btn-ghost-danger">Deletar avatar</a>
            </div>
        </div>
        {% crispy profile_form %}
        <h3 class="card-title mt-2">Alterar senha</h3>
        {% crispy change_password_form %}
        {% comment %} 
        <h3 class="card-title mt-4">Email</h3>
        <p class="card-subtitle">Este contato será mostrado publicamente para outros, então escolha com cuidado.</p>
        <div>
            <div class="row g-2">
                <div class="col-auto">
                    <input type="text" class="form-control w-auto" value="paweluna@howstuffworks.com">
                </div>
                <div class="col-auto">
                    <a href="#" class="btn">Alterar</a>
                </div>
            </div>
        </div> 
        {% endcomment %}
        {% comment %} 
        <h3 class="card-title mt-4">Perfil Público</h3>
        <p class="card-subtitle">Tornar seu perfil público significa que qualquer pessoa na rede Dashkit poderá encontrá-lo.</p>
        <div>
            <label class="form-check form-switch form-switch-lg">
                <input class="form-check-input" type="checkbox">
                <span class="form-check-label form-check-label-on">Você está atualmente visível</span>
                <span class="form-check-label form-check-label-off">Você está atualmente invisível</span>
            </label>
        </div> 
        {% endcomment %}
    </div>
    <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-end">
            <a href="#" class="btn">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>

{% endblock card %}