{% extends "administration/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Criar Usuário - Gestão Fiscal{% endblock title %}

{% block titlebody %}Criar Novo Usuário{% endblock titlebody %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"> Criar Novo Usuário</h3>
    </div>
    <div class="card-body">
        <form method="post" class="space-y">
            {% csrf_token %}
            {{ form|crispy }}
            {{form.media}}
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-primary btn-3">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
<script>

$(document).ready(function() {
    $('#id_permissions').select2({});

    /* Função para ocultar/mostrar o field permissions

        Se role for 'admin' ou 'owner', oculta o campo permissions
        Senão, mostra o campo permissions
    */
    function togglePermissions() {
        let role = $('#id_role').val();
        if (role === 'admin' || role === 'owner') {
            $('#id_permissions').closest('.mb-3').hide();
        } else {
            $('#id_permissions').closest('.mb-3').show();
        }
    }

    togglePermissions();

    $('#id_role').change(togglePermissions);
});

</script>
{% endblock extrajs %}