{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Gestão Fiscal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tabler.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% block scripts %}{% endblock %}
    <script src="{% static 'js/tabler.min.js' %}"></script>
</body>
</html>