{% extends "administration/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} Unidade - Gestão Fiscal{% endblock title %}

{% block titlebody %}
<div class="container-xl mt-3">
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">
                {% if object %}Editar{% else %}Criar Nova{% endif %} Unidade
            </h2>
        </div>
    </div>
</div>
{% endblock titlebody %}

{% block content %}
<div class="container-xl mt-3">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> {% if object %}Editar{% else %}Criar Nova{% endif %} Unidade</h3>
        </div>
        <div class="card-body">
            <form method="post" class="space-y">
                {% csrf_token %}
                {{ form|crispy }}
                {{form.media}}
                <div class="d-flex justify-content-end mb-3">
                    <button type="submit" class="btn btn-primary btn-3">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}